@* Adds "Taler" entry under BTCPay server navigation for server admins.
   Inputs: current route, scope provider, signed-in user roles.
   Output: conditional nav item linking to server-level Taler settings. *@
@using BTCPayServer
@using BTCPayServer.Abstractions.Contracts
@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Client
@using BTCPayServer.Data
@using BTCPayServer.Plugins.Taler.Controllers
@using BTCPayServer.Views.Server
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<ApplicationUser> SignInManager;
@inject IScopeProvider ScopeProvider
@{
    var storeId = ScopeProvider.GetCurrentStoreId();
    var isSettingsActive = ViewData.IsCategoryActive(typeof(ServerNavPages)) && !ViewData.IsPageActive([ServerNavPages.Plugins]);
    var isActive = !string.IsNullOrEmpty(storeId) && ViewContext.RouteData.Values.TryGetValue("Controller", out var controller) && controller is not null &&
                   nameof(UITalerServerController).StartsWith(controller.ToString() ?? string.Empty, StringComparison.InvariantCultureIgnoreCase);
}

@if ((isSettingsActive && SignInManager.IsSignedIn(User) && User.IsInRole(Roles.ServerAdmin)) || isActive)
{
    <li class="nav-item nav-item-sub" permission="@Policies.CanModifyServerSettings">
        <a asp-controller="UITalerServer" class="nav-link @(isActive ? "active" : string.Empty)" asp-action="GetServerConfig">Taler</a>
    </li>
}
